.button__form-auth {
  border: none;
  border-radius: 8px;
  background: var(--button-color);
  color: var(--background-color);
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 13px;
  margin: 0 auto 14px;
  padding: 12px 0;
  width: 100%;
  flex-shrink: 0;
}
