<main class='container'>
  <form class='form-auth'>
    <h1 class='form-auth__title'>Вход</h1>
    <div class='container__login'>
      {{{ input_login }}}
      {{{ input_password }}}
    </div>
    {{{button_login}}}
    {{{button_register}}}
  </form>
</main>

