<main class="containerchat">
  <header class="containerchat__header">{{> ChatHeader }}</header>

  <aside class="containerchat__sidebar">
    {{> ChatLink label="Профиль" type="link" page="chat"}}
    {{> ChatButton label="Поиск" type="button" page="chat"}}
    {{> ListChatCards }}
  </aside>

  <section class="containerchat__main"></section>

  <footer class="containerchat__footer">{{> ChatFooter }}</footer>
</main>