<main class="containerchat">
  <header class="containerchat__header"></header>

  <aside class="containerchat__sidebar">
    {{> ChatLink label="Профиль" type="link" page="chat"}}
    {{> ChatButton label="Поиск" type="button" page="chat"}}

    {{> ChatCard name="Андрей" message="Друзья, у меня для вас особенный выпуск новостей!yyyyyyyy" owner=true}}
    {{!-- {{> ListChatCards }} --}}
  </aside>

  <section class="containerchat__main"></section>

  <footer class="containerchat__footer"></footer>
</main>