.containerchat {
  height: 100vh;
  display: grid;
  margin: 0;
  padding: 0;
  grid-template: 55px repeat(1, 1fr) 55px/ 310px repeat(1, 1fr);
  box-sizing: border-box;
  grid-template-areas:
    'sidebar header header'
    'sidebar main main'
    'sidebar footer footer';
}

.containerchat__sidebar {
  background: var(--sidebar-color);
  grid-area: sidebar;
}

.containerchat__header {
  grid-area: header;
  border-bottom: 1px solid var(--gray-color);
  margin: auto 20px;
  padding: 10px;
}

.containerchat__main {
  grid-area: main;
  height: 60vh;
}

/* .containerchat__footer {
  grid-area: footer;
  border-top: 1px solid var(--gray-color);
  padding: 0;
  height: 100%;
} */
