.containerchat {
  height: 100vh;
  display: grid;
  grid-template-columns: 310px repeat(1, 1fr);
  grid-template-rows: 55px repeat(1, 1fr) 60px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  grid-template-areas: 
    "sidebar header header"
    "sidebar main main"
    "sidebar footer footer";
}

.containerchat__sidebar {
  background: var(--sidebar-color);
  grid-area: sidebar;
}

.containerchat__header {
  /* background: rgb(109, 223, 81); */
  grid-area: header;
  border-bottom: 1px solid var(--gray-color);
  margin: 0 20px;
  padding: 0;
}

.containerchat__main {
  /* background: rgb(76, 49, 199); */
  grid-area: main;
}

.containerchat__footer {
  background: rgb(151, 219, 24);
  grid-area: footer;
}