<main class="containerprofile">
  <aside class="containerprofile__sidebar">
    {{> ProfileButtonChat }}
  </aside>
  <section class="containerprofile__main">
    {{> ProfileAvatar }}
  </section>
</main>