.profile__button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 8px;
  background: var(--button-color);
  color: var(--background-color);
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 13px;
  margin: 60px auto 14px;
  padding: 12px 0;
  flex-shrink: 0;
  width: 280px;
}
