<div class="popup">
  <div class="popup__container">
    <button class="button popup__close" type="button" aria-label="close"></button>
    <div class="popup__login">
    <h2 class="popup__login-name">Добавить пользователя</h2>
      {{> FormAuthLabel label="Логин"}}
      {{> FormAuthInput type="text" name="login" description=login}}
      {{> FormAuthSpan }}
    </div>

    {{> FormAuthButton label="Добавить" type="button" page="chat"}}
  </div>
</div>

