.popup__button {
  border: none;
  border-radius: 8px;
  background: var(--button-color);
  color: var(--background-color);
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 13px;
  margin: 0 auto 14px;
  padding: 12px 0;
  width: 100%;
  flex-shrink: 0;
}

.popup__link {
  color: var(--button-color);
  background: transparent;
  text-align: center;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 11px;
  padding: 0 0 0 6px;
  text-decoration: none;
  border: none;
  margin: 0 auto 30px;
}
