.chat__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  
}

.chat__header-avatar {
  background-color: var(--gray-color);
  border-radius: 50%;
  margin: 10px 0;
  width: 34px;
  height: 34px;
}

.chat__header-title {
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 13px;
  margin: 0;
  padding-bottom: 4px;
  max-width: 193px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 10px;
}

.chat__header-button {
  margin-left: auto;
}