<div class='chat__header'>
  {{!-- <div class='chat__header-avatar'></div> --}}
  {{!-- <h2 class='chat__header-title'>{{ name }}</h2> --}}
  {{!-- <button class='button chat__header-button'></button> --}}
  {{{button_logout}}}
</div>
