.profile__avatar {
  background-color: #EFEFEF;
  background-image: url(../../../images/pencil.svg);
  background-position: 50%;
  background-repeat: no-repeat;
  border-radius: 60px;
  height: 120px;
  transition: opacity .8s ease-in-out;
  width: 120px;
  z-index: 0;
  margin: 60px auto;
}

.profile__img {
  border-radius: inherit;
  background-color: #EFEFEF;
  height: 100%;
  margin: 0;
  object-fit: none;
  object-position: center center;
  transition: opacity .5s ease-in-out;
  width: 100%;
  z-index: 1;
}

.profile__img:hover {
  cursor: pointer;
  opacity: 0.2;
}