<main class="container">
  {{#> FormAuth}}
    {{> FormAuthTitle label="Вход" }}
    <div class="container__login">
      {{> FormAuthElement label="Login" }}
      {{> FormAuthElement label="Password" }}
    </div>
    {{> FormAuthButton label="Авторизоваться" type="button" page="chat"}}
    {{> FormAuthButton label="Нет аккаунта?" type="link" page="register"}}
  {{/FormAuth}}
</main>
