.error__link {
  background: transparent;
  text-decoration: none;
  border: none;
  margin: 69px auto 0;
  color: var(--button-color);
  text-align: center;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 11px;
}
 
