.chat__footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.chat__footer-file {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  margin: 11px 0;
  border: none;
  background-color: transparent;
  background-image: url('../../../images/staple.svg');
  background-repeat: no-repeat;
  background-position: 0;
}

.chat__message {
  max-width: 849px;
  width: 100%;
  flex-shrink: 0;
  border-radius: 30px;
  background: var(--gray-color);
  border: 1px solid var(--background-color);
  box-sizing: content-box;
  padding: 10px 0 10px 20px;
  color: var(--text-lable-color);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 12px;
}

.chat__footer-retrieval {
  width: 28px;
  height: 28px;
  flex-shrink: 0;
  margin-left: auto;
  border: none;
  background-color: transparent;
  background-image: url('../../../images/retrieval-right.svg');
  background-repeat: no-repeat;
  background-position: 0;
}
