.profile__info-group {
  display: flex;
  flex-direction: column;
  width: 220px;
}
.profile__info-error {
  color: var(--error-color);
  font-size: 10px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
