@import url(./vendor/normalize.css);
@import url(./vendor/fonts.css);
@import url(./blocks/input/input.css);
@import url(./blocks/button/button.css);

@import url(./components/form-auth/form-auth.css);
@import url(./components/form-auth/__title/form-auth__title.css);
@import url(./components/form-auth/__label/form-auth__label.css);
@import url(./components/form-auth/__input/form-auth__input.css);
@import url(./components/form-auth/__span/form-auth__span.css);
@import url(./components/form-auth/__button/form-auth__button.css);

@import url(./pages/login/login.css);

:root {
  --background-color: #fff;
  --text-color: #1e1e1e;
  --text-lable-color: #999;
  --button-color: #3369f3;
  --ok-color: green;
  --error-color: #ff2f2f;
}

body {
  background: var(--background-color);
  color: var(--text-color);
  font-family: "Inter", Arial, sans-serif;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
}
