@import url(./vendor/normalize.css);
@import url(./vendor/fonts.css);
@import url(./blocks/input/input.css);
@import url(./blocks/button/button.css);

@import url(./components/form-auth/form-auth.css);
@import url(./components/form-auth/__title/form-auth__title.css);
@import url(./components/form-auth/__label/form-auth__label.css);
@import url(./components/form-auth/__input/form-auth__input.css);
@import url(./components/form-auth/__span/form-auth__span.css);
@import url(./components/form-auth/__button/form-auth__button.css);

@import url(./components/chat/__button/chat__button.css);
@import url(./components/chat/__link/chat__link.css);
@import url(./components/chat/__card/chat__card.css);
@import url(./components/chat/__card-list/chat__card-list.css);
@import url(./components/chat/__header/chat__header.css);

@import url(./pages/login/login.css);
@import url(./pages/register/register.css);
@import url(./pages/chat/chat.css);


:root {
  --background-color: #fff;
  --sidebar-color: #FBFBFB;
  --gray-color: #EAEAEA;
  --text-color: #1e1e1e;
  --text-lable-color: #999;
  --button-color: #3369f3;
  --ok-color: green;
  --error-color: #ff2f2f;
}

body {
  background: var(--background-color);
  color: var(--text-color);
  font-family: "Inter", Arial, sans-serif;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
}
