.input-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.input-container input {
  width: 100%;
  border: 0;
  border-bottom: 1px solid var(--button-color);
  padding: 10px 0 4px;
  font-size: 14px;
  background-color: transparent;
}

.input-container label {
  position: absolute;
  top: 0;
  left: 0;
  color: var(--text-secondary-color);
  font-size: 13px;
  font-weight: 500;
  transition: all 0.2s;
  pointer-events: none;
}

.input-container input:focus + label,
.input-container input:not(:placeholder-shown) + label {
  top: -10px;
  font-size: 12px;
}

.input-container input:focus {
  border-color: var(--button-color);
  outline: none;
}

.incorrect {
  color: var(--error-color);
  margin-top: 5px;
  font-size: 12px;
  visibility: hidden;
}

.show-error {
  visibility: unset;
}
